# Project Specific
dataset/
*.zip
analytics/
models/
docs/notes.txt
submission.csv

# Python
__pycache__/
*.py[codz]
*$py.class
.ipynb_checkpoints/
.env

# Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
tempCodeRunnerFile.py

# Ruff
.ruff_cache/
